
.flex{
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.cover{
    height: 200px;
    width: 200px;
    background-color: gray;
}
.c1{
    background-image: url("../assets/images/cover1.jpg");
    background-size: cover;
}
.c2{
    background-image: url("../assets/images/cover2.jpg");
    background-size: cover;
}
.c3{
    background-image: url("../assets/images/cover3.jpg");
    background-size: cover;
}
.vinyl{
    background-color: black;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: relative;
}
.detail{
    background-color: chocolate;
    height: 60px;
    width: 60px;
    border-radius: 50%;

}
.label{
    background-color: orange;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
.hole{
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.open + .vinyl{
    transform: translateX(-50px);
}
/*
.vinyl:hover{
    transform: translateX(150px);
    transition: transform 2s;
}
*/